<div class="row" ng-controller="weightController" ng-init="initializeController()" ng-cloak>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Edit Weight</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <form id="demo-form2" name="editWeight" data-parsley-validate class="form-horizontal form-label-left" novalidate>
                            <table style="width:100%">
                                <tr><td colspan="1"><div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="date">
        Date  <span class="required">*</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <input   type = "date" id="date" validator="required"  ng-model="Date"
             valid-method="blur" name = "dateWatch"  placeholder="Date" class="form-control col-md-7 col-xs-12"></input>
    </div>
</div>

</td><td colspan="1"><div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="wt">
        Patient Weight  <span class="required">*</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <input   type = "Number" step="0.01"  id="wt" validator="required"  ng-model="Wt"
             valid-method="blur" name = "wtWatch"  placeholder="Patient" class="form-control col-md-7 col-xs-12"></input>
    </div>
</div>

</td></tr>
                            </table>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-7">
                                    <button class="btn btn-default" ng-click="formCancel()">Cancel</button>
                                    <button type="submit" class="btn btn-primary" ng-click="editWeightSaved(editWeight)"> OK </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
