<div element-Access="Weight.View" class="row" ng-controller="weightController" ng-init="initializeController()" ng-cloak>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>View Weight</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />

                    <table st-table="WeightList = $scope.getWeights()" class="table table-striped projects">
                        <thead>
                            <tr>
                                <th> Date </th>
<th> Patient Weight </th>

                                <th>Modified by</th>
                                <th>Modified date</th>
                                <th style="width: 12%"> Action   </th>
                            </tr>
                        </thead>
                        <tbody >
                            <tr ng-repeat="item in WeightList">
                                <td>{{item.Date}}</td>
<td>{{item.Wt}}</td>

                                <td>{{item.LastModifiedBy}}</td>
                                <td>{{item.LastModifiedDateUtc | date}}</td>
                                <td>
                                    <a element-Access="Weight.View" ng-click="viewWeight(item.Id)" style="cursor: pointer"><i class="fa fa-eye control_icons"></i></a>
                                    <a element-Access="Weight.Edit" ng-click="editWeight(item.Id)" style="cursor: pointer"><i class="fa fa-edit control_icons"></i></a>
                                    <a element-Access="Weight.Delete" ng-click="toggleModal(item.Id,item.Name)" style="cursor: pointer"><i class="fa fa-remove control_icons"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                <div class="ln_solid"></div>
                <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-9">
                        <button class="btn btn-default" ng-click="addNewWeightCancel()"><i class="fa fa-minus-circle "></i> Cancel</button>
                        <button element-Access="Weight.Add" class="btn btn-primary" ng-click="addNewWeight('addWeight')"><i class="fa fa-plus-circle "></i> ADD NEW</button>
                    </div>
                </div>
                <!-- home form content 2nd line starts here -->
                <!-- Delete Confirmation -->
                <modal visible="showModal">
                    {{deleteDescriptionMessage}}
                </modal>
                <!-- End delete confirmation -->
            </div>
        </div>
    </div>
</div>