<div  element-Access="Patient.Edit"class="row" ng-controller="patientController" ng-init="initializeController()" ng-cloak>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Edit Patient</h2>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br />
                        <form id="demo-form2" name="editPatient" data-parsley-validate class="form-horizontal form-label-left" novalidate>
                            <table style="width:100%">
                                <tr><td colspan="1"><div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="firstName">
        First Name  <span class="required">*</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <input   type = "text" id="firstName" validator="required"  ng-model="FirstName"
             valid-method="blur" name = "firstNameWatch"  placeholder="First Name" class="form-control col-md-7 col-xs-12"></input>
    </div>
</div>

</td></tr><tr><td colspan="1"><div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="lastName">
        Last Name  <span class="required">*</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <input   type = "text" id="lastName" validator="required"  ng-model="LastName"
             valid-method="blur" name = "lastNameWatch"  placeholder="Last Name" class="form-control col-md-7 col-xs-12"></input>
    </div>
</div>

</td></tr><tr><td colspan="1"><div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="dOB">
        Date of Birth  <span class="required">*</span>
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <input   type = "date" id="dOB" validator="required"  ng-model="DOB"
             valid-method="blur" name = "dOBWatch"  placeholder="Date of Birth" class="form-control col-md-7 col-xs-12"></input>
    </div>
</div>

</td></tr><tr><td colspan="1"><div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sSN">
        SSN  
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <input   type = "text" id="sSN"   ng-model="SSN"
                placeholder="SSN" class="form-control col-md-7 col-xs-12"></input>
    </div>
</div>

</td></tr><tr><td colspan="1"><div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">
        Email  
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <input   type = "text" id="email"   ng-model="Email"
                placeholder="Email" class="form-control col-md-7 col-xs-12"></input>
    </div>
</div>

</td></tr><tr><td colspan="1"><div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="phone">
        Phone  
    </label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        <input   type = "text" id="phone"   ng-model="Phone"
                placeholder="Phone" class="form-control col-md-7 col-xs-12"></input>
    </div>
</div>

</td></tr>
                            </table>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-7">
                                    <button class="btn btn-default" ng-click="formCancel()">Cancel</button>
                                    <button type="submit" class="btn btn-primary" ng-click="editPatientSaved(editPatient)"> OK </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
